name: Smoke Test

on:
  push:
  pull_request:
  workflow_dispatch:

jobs:
  smoke:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Start monitoring
        uses: ./.
        with:
          action: start
          project_name: build-monitoring

      - name: Simulate work
        run: |
          echo "working..."
          sleep 10

      - name: End monitoring
        id: monitor_end
        if: ${{ always() }}
        uses: ./.
        with:
          action: end
          project_name: build-monitoring
          job_status: ${{ job.status }}
          health_check_url: https://example.com

      - name: Print outputs
        if: ${{ always() }}
        run: |
          echo "build_time_ms=${{ steps.monitor_end.outputs.build_time_ms }} (ms)"
          echo "build_time=${{ steps.monitor_end.outputs.build_time }} (seconds)"
          echo "build_status=${{ steps.monitor_end.outputs.build_status }}"
          echo "health_status=${{ steps.monitor_end.outputs.health_status }}"
          echo "health_http_status=${{ steps.monitor_end.outputs.health_http_status }}"
          echo "health_latency_ms=${{ steps.monitor_end.outputs.health_latency_ms }}"

      - name: Start monitoring 2
        uses: ./.
        with:
          action: start
          project_name: new-project

      - name: Simulate work
        run: |
          echo "working..."
          sleep 5

      - name: End monitoring 2
        id: monitor_end_2
        if: ${{ always() }}
        uses: ./.
        with:
          action: end
          project_name: new-project
          job_status: ${{ job.status }}

      - name: Print outputs
        if: ${{ always() }}
        run: |
          echo "build_time_ms=${{ steps.monitor_end_2.outputs.build_time_ms }} (ms)"
          echo "build_time=${{ steps.monitor_end_2.outputs.build_time }} (seconds)"
          echo "build_status=${{ steps.monitor_end_2.outputs.build_status }}"
          echo "health_status=${{ steps.monitor_end_2.outputs.health_status }}"
          echo "health_http_status=${{ steps.monitor_end_2.outputs.health_http_status }}"
          echo "health_latency_ms=${{ steps.monitor_end_2.outputs.health_latency_ms }}"